<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="appName" source="spring.application.name" defaultValue="auth"/>

	<appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<customFields>{"app":"${appName}"}</customFields>
			<includeMdcKeyName>requestId</includeMdcKeyName>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO"/>

	<root level="INFO">
		<appender-ref ref="JSON_CONSOLE"/>
	</root>
</configuration>
